.branding {
  font-size: 18px;
}

.showcase {
  background:url('../img/phoneRepair2.jpg') no-repeat;
  height: 600px;
  background-position:center;
  padding: 140px 100px;
  color:#fff;
}

.showcase h1{
  font-size:40px;
  font-weight:700;
  text-transform:uppercase;
  text
}

.showcase hr{
  width:100px;
  margin:auto;
  border-width:3px;
  border-color: green;
}

.showcase p{
  font-size:16px;
  padding-bottom:20px;
}

.section{
  padding: 40px 0;
}

.section h2{
  padding:0;
  margin:0;
}

/* Formatting for icons!!!!! Boyaaaah */
.fa{
  padding: 20px;
  font-size: 50px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
}

.fa:hover {
    opacity: 0.7;
}

.section .fa{
  font-size:50px;
  padding: 20px;
}

.section .fa-facebook{
  background: #3B5998;
  color:white;
}

.section .fa-instagram{
  background: #125688;
  color: white;
}

.section img{
  width:100%;
}

@media only screen and (max-width:600px){
  body{
    margin-top:190px;
  }

  .showcase{
    height:400px;
    padding:60px 0;
  }
}
